{% extends 'dummy.html' %}

{% block title %}
    <title>change_password</title>
    <style>
        h1
        {
            margin-top: 50px;
            color: cornflowerblue;
        }
    </style>
{% endblock %}

<body>

{% block body_block %}
    <center>
        <h1>Change Password</h1> <br>
        <form method="POST">
            {% csrf_token %}
            <!-- <label for="password">Old password: </label>
            <input type="password" name="password" id="password"><br><br> -->

            <label for="pw">New password: </label>
            <input type="password" name="pw" id="pw"><br><br>
            
            <input type="submit" value="change_password" class="bg-primary" style="border-radius: 9px">

        </form>
    </center>
{% endblock %}
</body>